{% extends 'base.html' %}



{% block content %}
    <!-- Start News Section -->
	<div id="news" class="offset py-5">
		<div class="row py-5">

			<div class="col-12 os-animation" data-animation="fadeInUp">
				<h3 class="heading">News</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="col-12 px-xl-5 os-animation" data-animation="fadeInUp">
				<div id="news-carousel" class="owl-carousel owl-theme">

					<!-- Start News Box -->
					<div class="row news px-3 px-md-4">
						<div class="col-lg-4 mx-auto"><img src="img/logo-news-1.jpg" alt="">
						</div>
						<div class="col-lg-8">
							<blockquote class="text-justify">
								<i class="fas fa-quote-left"></i>
								I see Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ipsum porro nulla impedit vero in! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe deleniti accusamus neque modi perspiciatis? Sunt deleniti quae similique dolorum commodi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque earum, quibusdam minus dolorem quam reiciendis voluptas repellat quisquam ut suscipit voluptatum cum tenetur cumque obcaecati?
								<a class="more-info" href="news.html">
									<i class="fas fa-angle-double-right"></i>
								</a>
								<hr class="news-hr">
							</blockquote>
						</div>
					</div>
					<!-- End News Box -->

					<!-- Start News Box -->
					<div class="row news px-3 px-md-4">
						<div class="col-lg-4 mx-auto"><img src="img/logo-news-2.jpg" alt="">
						</div>
						<div class="col-lg-8">
							<blockquote class="text-justify">
								<i class="fas fa-quote-left"></i>
								I see Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium ipsum porro nulla impedit vero in! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque et dolor illo tempora architecto dolorum rerum aspernatur incidunt odio beatae. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								<a class="more-info" href="news.html">
									<i class="fas fa-angle-double-right"></i>
								</a>
								<hr class="news-hr">
							</blockquote>
						</div>
					</div>
					<!-- End News Box -->

					<!-- Start News Box -->
					<div class="row news px-3 px-md-4">
						<div class="col-lg-4 mx-auto"><img src="img/logo-news-3.jpg" alt="">
						</div>
						<div class="col-lg-8">
							<blockquote class="text-justify">
								<i class="fas fa-quote-left"></i>
								I see Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, fugit. Ipsum repellat dicta at quas. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores doloribus accusantium deserunt excepturi tempore placeat voluptatem ab officia aliquam soluta, earum, quis in necessitatibus quas!
								<a class="more-info" href="news.html">
									<i class="fas fa-angle-double-right"></i>
								</a>
								<hr class="news-hr">
							</blockquote>
						</div>
					</div>
					<!-- End News Box -->

				</div> <!--End Carousel-->
			</div> <!--End Column-->
		</div> <!--End Row-->
	</div>
	<!-- End News Section -->


	<!--Start of ABOUT Section-->
	<div id="about" class="offset">
		<div class="fixed">
			<div class="row dark text-light text-center">
				<div class="col-12 os-animation" data-animation="fadeInUp">
					<h3 class="heading">About Us</h3>
					<div class="heading-underline"></div>
				</div>

				<div class="col-12 text-justify os-animation" data-animation="fadeInUp">
					<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid quibusdam a repudiandae facere. Esse ad dolorum alias natus maxime doloribus labore fugiat tenetur sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolor deserunt sed blanditiis amet nesciunt at provident id. Aspernatur ipsum quidem facere quas ab iure, perspiciatis sed nemo quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nobis corporis, voluptatum voluptatibus quaerat perferendis illum sapiente in voluptas excepturi. Ad, voluptatem ut? Incidunt ut pariatur debitis. Maiores ipsa quod cum qui illum reprehenderit voluptatem laudantium quae quaerat. Expedita dolore ipsa vero explicabo soluta sed voluptate nulla fuga rerum nemo!</h2>
				</div>

			</div> <!--End Row Dark-->

			<div class="fixed-wrap">
				<div class="fixed-dark"></div>
			</div>
		</div>
	</div>
	<!--End of ABOUT Section-->


	<!-- Start Products Section -->
	<div id="products" class="offset">

		<!-- Start Fixed BG IMG Light -->
		<div class="fixed">

			<div class="row light">
				<div class="col-12 os-animation" data-animation="fadeInUp">
					<h3 class="heading">Products</h3>
					<div class="heading-underline"></div>
				</div>

				<div class="container">
					<div class="os-animation" data-animation="fadeInUp">
						<div id="team-carousel" class="owl-carousel owl-theme">


							<div class="card"> <!--Start Card-->
								<img src="img/pills-bottle-1.jpg" alt="" class="card-img-top rounded-0">

								<div class="card-body">
									<h4 class="font-weight-bold">
										Product 1
									</h4>
									<h5 class="text-pro">
										Content 1
									</h5>
									<p class="border-top border-bottom py-3 my-3">Lorem ipsum dolor sit amet.</p>
									<a class="btn btn-primary" href="product.html" role="button">More</a>
								</div>
							</div> <!--End Card-->

							<div class="card"> <!--Start Card-->
								<img src="img/pills-bottle.jpg" alt="" class="card-img-top rounded-0">

								<div class="card-body">
									<h4 class="font-weight-bold">
										Product 2
									</h4>
									<h5 class="text-pro">
										Content 2
									</h5>
									<p class="border-top border-bottom py-3 my-3">Lorem ipsum dolor sit amet.</p>
									<a class="btn btn-primary" href="product.html" role="button">More</a>
								</div>
							</div> <!--End Card-->

						</div> <!--End Team Carousel-->
					</div> <!--End Animation-->
				</div> <!--End Container-->
			</div> <!--End Row-->

			<div class="fixed-wrap">
				<div class="fixed-light"></div>
			</div>
		</div>
		<!-- End Fixed BG IMG Light -->

	</div>
	<!-- End of Products Section -->

{% endblock %}