{% extends 'base.html' %}


{% block content %}
    <!--Start of NEWS Section-->
	<div id="news" class="offset">
		<div class="fixed">
			<div class="row news-light text-center">
				<div class="col-12 os-animation" data-animation="fadeInUp">
					<h3 class="heading">Lorem ipsum dolor sit amet.</h3>
					<div class="heading-underline"></div>
				</div>

				<div class="col-12 text-justify os-animation" data-animation="fadeInUp">
					<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aliquid quibusdam a repudiandae facere. Esse ad dolorum alias natus maxime doloribus labore fugiat tenetur sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem dolor deserunt sed blanditiis amet nesciunt at provident id. Aspernatur ipsum quidem facere quas ab iure, perspiciatis sed nemo quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nobis corporis, voluptatum voluptatibus quaerat perferendis illum sapiente in voluptas excepturi. Ad, voluptatem ut? Incidunt ut pariatur debitis. Maiores ipsa quod cum qui illum reprehenderit voluptatem laudantium quae quaerat. Expedita dolore ipsa vero explicabo soluta sed voluptate nulla fuga rerum nemo!</h2>
				</div>

			</div> <!--End Row Dark-->

			<div class="fixed-wrap">
				<div class="fixed-news-dark"></div>
			</div>
		</div>
	</div>
	<!--End of NEWS Section-->
{% endblock %}